doctype html
html
	title TODO APP
	link(rel="stylesheet")
	link(rel="stylesheet", href="stylesheets/style.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
body
	.container
		block content
